Flask==3.0.2
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
Flask-Bcrypt==1.0.1
Flask-WTF==1.2.1
python-dotenv==1.0.1
Werkzeug==3.0.1
SQLAlchemy==2.0.27
eventlet==0.35.2
python-socketio==5.11.1
python-engineio==4.9.0
email-validator==2.1.0.post1
pycryptodome==3.23.0